*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
}
.navi{
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: #a9c7da;
    justify-content: left;
    gap: 3rem;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.navi a{
    text-decoration: none;
    background-color: #ebe438;
    height: 2rem;
    padding: 5px 5px 5px 5px;   
    border-radius: 5px;
    color: black;
    width: 5rem;
    text-align: center;
    
}
.main_container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 2rem;
    margin-top: 5rem;
    padding: 1rem;
}
.gridders{
    background-color: rgb(212, 237, 212);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.bgImg img{
    height: 7rem;
    width: 7rem;
}